.main {
    height: 100%;
    width: 80%;

}


.content{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: lightgray;
    padding-bottom: 30px;
}

.taskName {
    margin-top: 30px;
    margin-left: 20px;
}

.taskName_descriptionTask {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}

.descriptionTask{
    margin-top: 30px;
    margin-left: 20px;
}

.selectes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}

.downloadFile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 30px 30px 0;

    /*border: 1px solid red;*/
}

.strAnswers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-left: 25px;
    flex-wrap: wrap;

}

.newAnswerElement {
    text-align: center;
}

.buttonsBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*border: 1px solid green;*/
    margin-right: 60px;


}

.firstSelect {
    margin-right: 20px;
}

.errors {
    color: red;
    width: 100%;
    font-size: small;
    margin-top: 10px;
}

.image {
    margin-bottom: 30px;
}

.image img {
    display: inline-block;
    margin-left: 12%;
    width: 75%;
}