.image{
    width: 100%;
}
.imageBlock{
    width: 60%;
    border: 1px solid red;
}

.mainBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 100px;

}
.errorBlock{
    margin: 10px 0 0 20%;
    font-size: small;
}