.flex {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.main {
    width: 90%;
    height: 500px;
}

.block {
    border: 1px solid lightgrey;
    background-color: lightgrey;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
}

.send{
    margin-left: 40%;
    margin-top: 10%;
}
.responseError{
    color: red;
    margin-left: 35%;
}