.main {
    margin-left: 15%;
    margin-top: 5%;
    width: 70%;
    cursor: pointer;
}

.block {
    width: 100%;

}

.content {
    width: 100%;
    background: darkgrey;
    border-radius: 4px;
    padding-top: 20px;
}

.timer {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 30px;
}

.description {
    text-align: center;
}

.description h1 {
    font-size: 2em;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
}

.image {
    margin: 5% 35% 20px 35%;
}

.image img {
    width: 100%;
}

.answer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 25%;
    margin-top: 20px;
    margin-right: 35%;
    width: 50%;
}

.answerContent {
    display: flex;
}

.checkboxWrapper {
    transform: translateY(-20%);
}

.radioWrapper {
    transform: translateY(-20%);
}

.buttonBlock {
    margin-top: 40px;
    margin-left: 45%;
    padding-bottom: 40px;
}
