.main {
    margin-left: 15%;
    margin-top: 5%;
    width: 70%;
    cursor: pointer;
}

.block {
    width: 100%;

}

.content {
    width: 100%;
    background: darkgrey;
    border-radius: 4px;
    padding-top: 30px;
}

.description {
    margin-left: 15%;
}
.description h1 {
    font-size: 2em;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
}
.image {
    display: inline-block;
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 20px;
}

.answer {
    display: flex;
    margin-left: 35%;
    margin-top: 20px;
}

.buttonBlock {
    margin-top: 40px;
    margin-left: 43%;
    padding-bottom: 40px;
}