.main {
    height: 100%;
    margin-top: 30px;

}

.block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: lightgray;
    padding-bottom: 30px;
}

.taskName_descriptionTask {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}

.selectes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}

.downloadFile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-right: 4%;
}

.strAnswers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
    flex-wrap: wrap;

}

.newAnswerElement {
    text-align: center;
}

.buttonsBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 10px;
}

.firstSelect {
    margin-right: 20px;
}

.errors {
    color: red;
    width: 100%;
    font-size: small;
    margin-top: 10px;
}