.main {
    width: 150px;
    height: 30vh;
    background-color: white;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
}

.createTask {
    border: 1px solid white;
}

.createTaskContent {
    border: 2px solid black;
    padding-left: 20%;
}

.createTaskContent a {
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: 20px;
}
.createTaskContent a:hover {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 20px;
}
.allTasks {
    border: 1px solid white;
}

.allTasksContent {
    border: 2px solid black;
    padding-left: 20%;
}
.allTasksContent a {
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: 20px;
}
.allTasksContent a:hover{
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 25px;
}

.settings {
    border: 1px solid white;
}

.settingsContent {
    border: 2px solid black;
    padding-left: 20%;
}
.settingsContent a {
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: 20px;
}
.settingsContent a:hover {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 25px;
}