.main {
    width: 10%;
    height: auto;
    background-color: darkgrey;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}


.createTaskContent {
    height: 40px;
}

.createTaskContent a {
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: 20px;

}
.createTaskContent a:hover {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 24px;
}


.allTasksContent {
    height: 40px;
}
.allTasksContent a {
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: 20px;

}
.allTasksContent a:hover{
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 25px;
}

.settings {
}

.settingsContent {
    height: 40px;
}
.settingsContent a {
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: 20px;
}
.settingsContent a:hover {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 25px;
}