.main {
    margin-top: 5%;
}

.block {
    width: 80%;
    margin: 0 auto;
}

.content {
    background-color: darkgrey;
    border-radius: 2%;

}

.contentBlock {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputWrapperBlock {
    margin-bottom: 50px;
}

.resultPercent {
    display: flex;
    flex-direction: row;

}

.resultPercentContent {
    width: 40%;
    margin-left: 25%;
    display: flex;
}

.resultPercentContent span {
    margin-top: 30px;
    margin-left: 15px;
    font-size: x-large;
    font-weight: 900;
}

.lowPercent {
    color: red;
}

.highPercent {
    color: green;
}
.buttonBlock{
    margin-left: 45%;
    margin-top: 20px;
}

svg {
    margin-top: 23px;
    margin-left: 20px;
}


